
<html xmlns="http://www.w3.org/1999/xhtml">
@{
    Layout = null;
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body style="background-color:rgba(76, 103, 125, 0.17)">
    <h1 style="text-align:center">《注册协议》</h1>
    <div class="maincontent">
        <p>
            &nbsp;
            公司有权对合作方的不正当经营方法予以警告，严重者取消经销资格，并追究其法律责任。
            公司对合作方在合同以外的经营活动及违法活动不负法律与经济连带责任。
            公司有权对合作方的正常运作中各经营项目的实施情况进行核实（特别是产品的批发，零售价格及库存）。
            公司有权要求合作方遵循公司统一的经营管理模式及vi标准。
        </p>
        <h2>二、公司的义务</h2>
        <p>
            &nbsp;公司有义务协助合作方在本合同指定区域内建立完整的经销网络体系。
            公司向合作方提供季无痕品牌标识产品及vi标准并协助合作方培训销售人员。
            公司在合作方区域中的各类宣传活动应在相关方面体现合作方的名称，标识，地址，依靠品牌日益提升的企业形象树立提升合作方的知名度及企业形象。
            公司承担产品质量责任，实行在保质期内因产品质量出现的问题，有公司承担。
            公司以不断完善和先进的资讯手段为合作方提供相关信息的服务。
            公司视合作方在经销地区的具体发展情况予以适度的广告等方面的支持及派市场管理人员到合作方所在地协助开展相关工作。
            公司竭诚为合作方提供市场支援和管理调控及对外协调支持。
            合同一经双方盖章签字后生效，公司将授予合作方授权经销书与经销牌。
        </p>
        <h2>三、合作方的权利</h2>
        <p>
            &nbsp;合作方有权依照公司有关（统一）规定发展季无痕品牌产品分销市场而开发终端经销商，推广系列产品。
            合作方有权获得公司的资讯系统的支持。
            合作方有权获得公司在产品经销及市场宣传广告上的规定的统一大支持。
            合作方有权要求公司在日常管理中的专业服务。
            针对指定区域内的具体情况，合作方对公司有关经营管理制度规范有调整建议权。
        </p>
        <h2>四、 合作方的义务</h2>
        <p>
            &nbsp;合作方需负责公司老师下店的路费及食宿费；
            合作方须遵守公司的有关销售制度及规章，接受公司的监督。
            合作方确保经营场地中的公司产品摆放突出，有关人员及资金等经营条件投入的稳定与待续。
            保护公司的品牌形象，商标及其经营管理制度和规范不受侵犯，在发生此类现象和行为时，协助公司
            完成法律和其他形式的措施办法。
            未经公司许可，合作方不得将经销权及公司的产品提供给第三方或以外其他行业。
            合作方须定期准确，全面地向公司提供产品及其他促销品的进、销、存报表及其他市场信息。
            合作方不得经营与公司同类，价格大致相同的竞争性产品。
        </p>
        <h2>五、违约责任</h2>
        <p>
            &nbsp;出现以下情况之一者，公司视情节轻重，对经销商给予取消返利30％－60％的处罚。
            <p>1．对公司采取不合作态度或者有损害公司产品信誉行为时；</p>
            <p>2．违反保密义务，导致公司一般损失的；</p>
            <p>3．未按公司有关规定和本制度进行业务技术运作和处理的。</p>
            
            
        &nbsp;本条所称“一般损失”，是指损害公司商誉等价值，但不足以影响公司形象及产品形象的；或者经济利益损失在1000元以下的；或者将本合同的内容透露给第三方，但人数不少于2人，或者违反公司的保密制度，透露机密级以下的相关资讯及商业信息的。
            出现以下情况之一者，公司将提前30天以书面形式通知，对经销商给予吊销资格的处罚：
            <p>1．从加盟之日起连续三个月没有任何公司的回货返款，三个月后每月未按要求定一套产品情况；</p>
            <p>2．对公司采取不合作态度或者有损害公司产品信誉行为，情节严重的；</p>
            <p>3．出现技术服务失控导致重大质量事故的；</p>
            <p>4．未经公司同意，代理销售与公司产品相类似产品的；</p>
            <p>5．违反保密义务，导致公司重大损失的；</p>
            <p>6．未按公司质保规定进行质量保证的；</p>
            <p>7．其他严重违反公司规章制度或合同的行为。</p>
        &nbsp;本条所称“重大损失”，是指利益损失高于上述“一般损失”或者程度深于“一般损失”的损失。
            如合作方违反本协议，公司有权向合作方追究由此引起的经济损失，并按损失的两倍赔偿给公司。
        </p>
        
    </div>
    <style>
        .maincontent {
            text-align:left;
            margin-left:20%;
            margin-right:20%;
            margin-bottom:50px;
        }
    </style>
</body>
</html>
