@using Distribution.Model;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<body class="bBg">
    <div class="bMain">
        ﻿
        <div class="clearB"></div>
    </div>
    <!--底部-->
    <div class="footer_box">
        <div class="footer">
            <p></p>
            <p>Copyright © 2016 Inc. All rights reserved 2017-2020 <span style="color:#666666;font-family:Verdana, Arial, Vrinda, Tahoma;font-weight:bold;text-align:right;background-color:#eef2f5;">XX官方版权所有</span>&nbsp;All Rights Reserved &nbsp; </p>
            <p><!--电话：400-0000-000 -->粤ICP备17102192号</p>
        </div>
    </div>


</body>
</html>