@using Distribution.Model;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="bBg">


    <div class="device">
        <div class="swiper-container bSwiper" style="cursor: -webkit-grab;">
            <div class="swiper-wrapper" style="width: 1263px; height: 500px; transform: translate3d(-2526px, 0px, 0px); -webkit-transform: translate3d(-2526px, 0px, 0px); transition-duration: 0.3s; -webkit-transition-duration: 0.3s;">
                @foreach (var item in ViewBag.spanList)
                {
                    
                    <div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px;
                    background: url('@item.c_value') ;
                    background-size:100% 100%;
                    background-repeat:no-repeat; ">
                    </div>
                }
                @*<div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px; 
                    background: url(../Content/img/forwardWeb/span1.jpg) ;
                    background-size:100% 100%;
                    background-repeat:no-repeat; "
                     >
                </div>
                <div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px;
                    background: url(../Content/img/forwardWeb/span2.jpg);
                    background-size:100% 100%;
                    background-repeat:no-repeat;">
                </div>
                <div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px;
                    background: url(../Content/img/forwardWeb/span3.jpg) ;
                    background-size:100% 100%;
                    background-repeat:no-repeat;">
                </div>
                <div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px;
                    background: url(../Content/img/forwardWeb/span4.jpg);
                    background-size:100% 100%;
                    background-repeat:no-repeat;">
                </div>*@
            </div>
        </div>
        <div class="pagination bPosi"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span></div>
    </div>
    <script>
        var bSwiper = new Swiper('.bSwiper',{
            pagination: '.bPosi',
            loop:true,
            autoplay:3000,
            grabCursor: true,
            paginationClickable: true
        });
        $(".green_top_ul li:last-child").css("border","none");
    </script>
    <style type="text/css">
        .content_hidden {
            display: none;
        }
    </style>
    <div class="green_top">
        @*<div class="green_title"></div>*@
        <ul class="green_top_ul">
            <li>
                <div class="green_top_left">
                    <img src="@ViewBag.IntroImage" alt="" />
                </div>
                <div class="green_top_right">
                    <h2>全国招商</h2>
                    <p>
                        季无痕全国招商，千城万店将打造全球第一的网络覆盖实体，OTO(线上线下)美容连锁模式。公司将拿出90%的利润分享到市场，打造一个共赢的局面。
                         加盟16800元，免费赠送无针系列技术教学、高端逆龄抗衰套装、无针化抗衰仪、祛斑系列套装；
                        季无痕打造互联网覆盖线下实体，线上线下系统连锁化，轻松做到团队化经营，连锁化收益。
                        2：客户永不流失，系统永久锁定代理与代理之前的关系。
                        3：0风险，无压力，一次投资，直接获得所有品牌项目代理权。
                        4：所有代理拿货价格统一1折。
                        5：告别囤货，季无痕无需自己发货，无需养员工，绝不会窜货，所有订单由公司统一发出。
                        6：超低门槛，只需一次投资16800元加入，即可代理所有品牌，并且赠送仪器。
                        7：收益自动结算，提现便捷，省时省力，系统自动提示订单和积分，填写你的个人资料，即可进行提现，财务根据您提现的积分奖金直接打入你所填写的支付宝号或银行卡内。
                        8：季无痕真实做到团队互帮互助，脱离单打独斗的局面，团队从上至下做到你中有我，我中有你，达到利益共同体，相互扶持！
                    </p>
                    <!--<a href="#">查看更多 &gt;</a>-->
                </div>
                <div class="content_hidden">
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                </div>
            </li>
            @*<li>
                <div class="green_top_left">
                    <img src="../Content/img/ForComp/123123.jpg" alt="" />
                </div>
                <div class="green_top_right">
                    <h2>全国招商</h2>
                    <p>
                        万店连锁模式将打造全球第一的网络覆盖实体，OTO(线上线下)美容连锁模式。公司将拿出90%的利润分享到市场，打造一个共赢的局面。
                        加盟13800元，可获得
                        8套青春活力抗衰套；
                        8套高端抗衰护肤产品（2套除皱紧肤激活套+2套溶脂面雕激活套+2套水光嫩肤+2套三线提升）；
                        送钛合金雾化仪1台；
                        经销商资格一名，成为分公司分销商，获得经销商证书。
                        备注：除皱产品仅限2套,后期单独拿货，套餐内其它产品可调换。
                    </p>
                    <!--<a href="#">查看更多 &gt;</a>-->
                </div>
                <div class="content_hidden"></div>
            </li>
            <li>
                <div class="green_top_left">
                    <img src="../Content/img/ForComp/123123.jpg" alt="" />
                </div>
                <div class="green_top_right">
                    <h2>加入季无痕的理由</h2>
                    <p>x
                        1：打造互联网覆盖线下实体，线上线下系统连锁化，轻松做到团队化经营，连锁化收益。2：客户永不流失，系统永久锁定代理与代理之前的关系。3：0风险，无压力，一次投资，直接获得所有品牌项目代理权。4：告别价格战，加入后，全国统一所有代理拿货价格统一1折，还可参与1:1配送。5：告别假货，无需自己发货，无需养养员工，绝不会窜货，所有订单由总公司统一发出。6：超低门槛，只需一次投资13800元加入，即可代理所有品牌，并且赠送仪器。7：自动结算收益，提现方便，省时省力，系统自动提示订单和积分，填写你的真实资料，每3天提现一次，按财务报表上的奖金直接打入你所填写的支付宝号中。8：真正实现互帮互助的团队，不再一个人单打独斗，利益共享!
                    </p>
                    <!--<a href="#">查看更多 &gt;</a>-->
                </div>
                <div class="content_hidden"></div>
            </li>
            <li>
                <div class="green_top_left">
                    <img src="../Content/img/ForComp/123123.jpg" alt="" />
                </div>
                <div class="green_top_right">
                    <h2>全球领先的医美设备  国际顶尖的专业技术</h2>
                    <p>XX项目的五大优势：1. 科学性——尖端生物基因产品+先进美容方法完美结合！2. 安全性——无添加，纯生物制剂，与人体100%同源！3. 叠加性——深层储蓄，激活细胞循序渐进！4. 持久性——深层修复，激活细胞，皮肤活力持久！5. 便捷性——安全自然，功效显著，也称“午休试”美容！</p>
                    <!--<a href="#">查看更多 &gt;</a>-->
                </div>
                <div class="content_hidden"></div>
            </li>*@
        </ul>
    </div>
    <script>
        function addVideo(obj){
            var url = obj.attr("url");
            var vHtml = "<embed src='"+url+"' allowFullScreen='true' quality='high' width='824' height='617' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>";
            $('.video').html(vHtml);
            $('.video_bg').show();
        }
        function closeI(){
            $(".video").html();
            $('.video_bg').hide();
        }
        $('.green_top_ul li').click(function(){
            var content = $(this).find('.content_hidden').html();
            var title = $(this).find('h2').text();
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 1, //不显示关闭按钮
                anim: 2,
                area: ['800px', '500px'],
                offset: [($(window).height() - 500) * 0.5, ($(window).width() - 800) * 0.5],
                title: title,
                shadeClose: true, //开启遮罩关闭
                content: content
            });

        });

    </script>
    <!--底部-->
    
    <style>
        .tqjeDiaBg, #prom {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            display: none;
        }

        .tqjeDia {
            width: 530px;
            height: 536px;
            overflow: hidden;
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 7px;
        }

            .tqjeDia h2 {
                line-height: 50px;
                padding-left: 20px;
                font-weight: bold;
                background: #eee;
                font-size: 20px;
                color: #333;
            }

        .tqjeDia1 {
            height: 211px;
        }

        .tqjeDia1_1 {
            font-size: 16px;
            height: 74px;
            color: #333;
            line-height: 27px;
            padding: 26px 2px 0 24px;
        }

        .tqjeDia1_2 {
            text-align: center;
        }

            .tqjeDia1_2 label {
                font-size: 18px;
                font-weight: bold;
                color: #292929;
            }

            .tqjeDia1_2 span {
                font-size: 18px;
                font-weight: bold;
                color: #fe6c00;
            }

        .tqjeDia1_3 {
            text-align: center;
            line-height: 30px;
            padding-top: 26px;
        }

            .tqjeDia1_3 label {
                font-size: 14px;
                color: #333;
            }

            .tqjeDia1_3 input {
                width: 93px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

            .tqjeDia1_3 span {
                font-size: 16px;
                color: #1da75f;
            }

        .tqjeDia2 {
            width: 490px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 58px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia2 label {
                float: right;
                color: #1da75f;
                font-size: 16px;
                font-weight: 100;
            }

        .tqjeDia3 {
            width: 490px;
            height: 130px;
            padding-top: 13px;
            margin-left: 20px;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia3 p {
                font-size: 18px;
                color: #999;
                line-height: 39px;
            }

            .tqjeDia3 input {
                width: 300px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

        .tqjeDia4 {
            width: 375px;
            height: 50px;
            text-align: center;
            padding-left: 115px;
            padding-top: 20px;
            margin-left: 20px;
            border-top: 1px dashed #eeeeee;
        }

            .tqjeDia4 input {
                width: 78px;
                height: 30px;
                font-size: 14px;
                border-radius: 5px;
                display: block;
                float: left;
            }

        input.tqjeDia4_1 {
            border: 1px solid #1da75f;
            color: #fff;
            background: #1da75f;
            margin-right: 100px;
        }

        input.tqjeDia4_2 {
            border: 1px solid #1da75f;
            color: #1da75f;
            background: #fff;
        }
    </style>
    <div class="promotion" id="prom"></div>

    <div class="layui-layer-move"></div>
</body>
</html>