@using Distribution.Model;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- 引入 Bootstrap -->
</head>
<body class="bBg">
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    
        ﻿
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="carousel slide" id="carousel-49153">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-49153">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-49153">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-49153">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="C:\Users\JayZee\Desktop\demo\14993306181499330618.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        棒球
                                    </h4>
                                    <p>
                                        棒球运动是一种以棒打球为主要特点，集体性、对抗性很强的球类运动项目，在美国、日本尤为盛行。
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="img/2.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        冲浪
                                    </h4>
                                    <p>
                                        冲浪是以海浪为动力，利用自身的高超技巧和平衡能力，搏击海浪的一项运动。运动员站立在冲浪板上，或利用腹板、跪板、充气的橡皮垫、划艇、皮艇等驾驭海浪的一项水上运动。
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="img/3.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        自行车
                                    </h4>
                                    <p>
                                        以自行车为工具比赛骑行速度的体育运动。1896年第一届奥林匹克运动会上被列为正式比赛项目。环法赛为最著名的世界自行车锦标赛。
                                    </p>
                                </div>
                            </div>
                        </div> <a data-slide="prev" href="#carousel-49153" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-49153" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </div>
   
    <!--底部-->
    <div class="footer_box">
        <div class="footer">
            <p></p>
            <p>Copyright © 2016 Inc. All rights reserved 2017-2020 <span style="color:#666666;font-family:Verdana, Arial, Vrinda, Tahoma;font-weight:bold;text-align:right;background-color:#eef2f5;">XX官方版权所有</span>&nbsp;All Rights Reserved &nbsp; </p>
            <p><!--电话：400-0000-000 -->粤ICP备17102192号</p>
        </div>
    </div>


</body>
</html>