@using Distribution.Model;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="bBg">

    <div class="device">
        <div class="swiper-container bSwiper" style="cursor: -webkit-grab;">
            <div class="swiper-wrapper" style="width: 1263px; height: 400px; transform: translate3d(-2526px, 0px, 0px); -webkit-transform: translate3d(-2526px, 0px, 0px); transition-duration: 0.3s; -webkit-transition-duration: 0.3s;">
                @foreach (var item in ViewBag.spanList)
                {

                    <div class="swiper-slide swiper-slide-duplicate" style="width: 1263px; height: 500px;background url('@item.c_value');background-size:100% 100%;background-repeat:no-repeat; ">
                    </div>
                }
            </div>
        </div>
        <div class="pagination bPosi"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span></div>
    </div>
    <script>
        var bSwiper = new Swiper('.bSwiper', {
            pagination: '.bPosi',
            loop: true,
            autoplay: 3000,
            grabCursor: true,
            paginationClickable: true
        });
        $(".green_top_ul li:last-child").css("border", "none");
    </script>
    <style type="text/css">
        .content_hidden {
            display: none;
        }
    </style>
    <div class="green_top">
        @*<div class="green_title">项目介绍</div>*@
        <ul class="green_top_ul">
            <li>
                <div class="green_top_left">
                    <img src="../Content/img/forwardWeb/introduce.jpg" alt="" />
                </div>
                <div class="green_top_right">
                    <h2>新手指南</h2>
                    <p>
                        ◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）    2.身份注册（请正确填写个人银行卡信息）   3.等待审核（后台进行审核时，请提前将打款截图报给总部）  4.注册成功（总部审核打款信息后，由总部审核通过）。     ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！    ◆系统审核需要准备：打款截图+授权信息   （授权信息上报格式——
                        姓名：XXX
                        级别：【全国总代，售后中心，分公司】根据自己的级别选一项上报！
                        身份证号：例如371325********1940
                        手机号：186****5079
                        区域：例如北（京朝阳区）
                        如果您未提交打款截图，暂时不会通过审核，请直接联系您的领导人，提交以上信息到总部！
                    </p>
                    <!--<a href="#">查看更多 &gt;</a>-->
                </div>
                <div class="content_hidden">
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                    <p>◆XX全国总代经销商注册流程：1.帐号注册（请正确填写手机号，牢记注册登陆密码）&nbsp;&nbsp;&nbsp; 2.身份注册（请正确填写个人银行卡信息）&nbsp;&nbsp; 3.等待审核（后台进行审核时，请提前将打款截图报给总部）&nbsp; 4.注册成功（总部审核打款信息后，由总部审核通过）。&nbsp;&nbsp;&nbsp;&nbsp; ◆系统审核工作时间——全天可报单，审核时间为8:30到下午15:30，超过15:30注册的，会再第二天审核通过！&nbsp;&nbsp;&nbsp; ◆系统审核需要准备：打款截图+授权信息&nbsp;&nbsp; （授权信息上报格式——</p>
                </div>
            </li>
        </ul>
    </div>
    <script>
        function addVideo(obj) {
            var url = obj.attr("url");
            var vHtml = "<embed src='" + url + "' allowFullScreen='true' quality='high' width='824' height='617' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>";
            $('.video').html(vHtml);
            $('.video_bg').show();
        }
        function closeI() {
            $(".video").html();
            $('.video_bg').hide();
        }
        $('.green_top_ul li').click(function () {
            var content = $(this).find('.content_hidden').html();
            var title = $(this).find('h2').text();
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 1, //不显示关闭按钮
                anim: 2,
                area: ['800px', '500px'],
                offset: [($(window).height() - 500) * 0.5, ($(window).width() - 800) * 0.5],
                title: title,
                shadeClose: true, //开启遮罩关闭
                content: content
            });

        });

    </script>
    <!--底部-->

    <style>
        .tqjeDiaBg, #prom {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            display: none;
        }

        .tqjeDia {
            width: 530px;
            height: 536px;
            overflow: hidden;
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 7px;
        }

            .tqjeDia h2 {
                line-height: 50px;
                padding-left: 20px;
                font-weight: bold;
                background: #eee;
                font-size: 20px;
                color: #333;
            }

        .tqjeDia1 {
            height: 211px;
        }

        .tqjeDia1_1 {
            font-size: 16px;
            height: 74px;
            color: #333;
            line-height: 27px;
            padding: 26px 2px 0 24px;
        }

        .tqjeDia1_2 {
            text-align: center;
        }

            .tqjeDia1_2 label {
                font-size: 18px;
                font-weight: bold;
                color: #292929;
            }

            .tqjeDia1_2 span {
                font-size: 18px;
                font-weight: bold;
                color: #fe6c00;
            }

        .tqjeDia1_3 {
            text-align: center;
            line-height: 30px;
            padding-top: 26px;
        }

            .tqjeDia1_3 label {
                font-size: 14px;
                color: #333;
            }

            .tqjeDia1_3 input {
                width: 93px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

            .tqjeDia1_3 span {
                font-size: 16px;
                color: #1da75f;
            }

        .tqjeDia2 {
            width: 490px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 58px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia2 label {
                float: right;
                color: #1da75f;
                font-size: 16px;
                font-weight: 100;
            }

        .tqjeDia3 {
            width: 490px;
            height: 130px;
            padding-top: 13px;
            margin-left: 20px;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia3 p {
                font-size: 18px;
                color: #999;
                line-height: 39px;
            }

            .tqjeDia3 input {
                width: 300px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

        .tqjeDia4 {
            width: 375px;
            height: 50px;
            text-align: center;
            padding-left: 115px;
            padding-top: 20px;
            margin-left: 20px;
            border-top: 1px dashed #eeeeee;
        }

            .tqjeDia4 input {
                width: 78px;
                height: 30px;
                font-size: 14px;
                border-radius: 5px;
                display: block;
                float: left;
            }

        input.tqjeDia4_1 {
            border: 1px solid #1da75f;
            color: #fff;
            background: #1da75f;
            margin-right: 100px;
        }

        input.tqjeDia4_2 {
            border: 1px solid #1da75f;
            color: #1da75f;
            background: #fff;
        }
    </style>
    <div class="promotion" id="prom"></div>
    <div class="layui-layer-move"></div>
</body>
</html>