<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--测试环境-->
  <add name="NFineDbContext" connectionString="Server=103.30.42.122;Initial Catalog=NFineBase;User ID=sa;Password=admin12345" providerName="System.Data.SqlClient" />
  <!--开发环境-->
  <!--<add name="nfinedbcontext" connectionstring="data source=.;initial catalog=testdistdb;persist security info=true;user id=sa;password=sa123;multipleactiveresultsets=true;app=entityframework" providername="system.data.sqlclient" />-->
</connectionStrings>