<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=122.114.53.214;Initial Catalog=NFineBase;User ID=sa;Password=admin12345" providerName="System.Data.SqlClient" />
  <add name="Distribution" connectionString="data source=.;initial catalog=testDistDB;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>