@using System.Configuration;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/AgentManage/ScoreCash/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#imgid").attr('src', '@ConfigurationManager.AppSettings["SaveFilePath"]' + data.c_voucher_path);//http://localhost:8081/FilePath/201804/Tulips.jpg
                    $("#F_UserPassword").val("******").attr('disabled', 'disabled');
                }
            });
        }
    });
    function initControl() {
        $("#c_levle").bindSelect({
            url: "/AgentManage/ScoreCash/GetLevelJson",
            param: { enCode: 1 }
        });
        $("#c_agent_level").bindSelect({
            url: "/AgentManage/ScoreCash/GetLevelJson",
            param: { enCode: 2 }
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/AgentManage/ScoreCash/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">姓名</th>
                    <td class="formValue">
                        <input id="c_name" name="c_name" type="text" class="form-control required" placeholder="请输入姓名" />
                    </td>
                    <th class="formTitle">手机</th>
                    <td class="formValue">
                        <input id="c_mobile" name="c_mobile" class="form-control required" placeholder="请输入手机" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">等级类型</th>
                    <td class="formValue">
                        <select id="c_levle" name="c_levle" class="form-control required"></select>
                    </td>
                    <th class="formTitle">代理类型</th>
                    <td class="formValue">
                        <select id="c_agent_level" name="c_agent_level" class="form-control required"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">持卡人姓名</th>
                    <td class="formValue">
                        <input id="c_bank_person" name="c_bank_person" type="text" class="form-control required" placeholder="请输入持卡人姓名" />
                    </td>
                    <th class="formTitle">开户行</th>
                    <td class="formValue">
                        <input id="c_bank_name" name="c_bank_name" type="text" class="form-control required" placeholder="请输入开户行" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">银行账号</th>
                    <td class="formValue">
                        <input id="c_bank_account" name="c_bank_account" type="text" class="form-control required" placeholder="请输入银行账号" />
                    </td>
                    <th class="formTitle">积分</th>
                    <td class="formValue">
                        <input id="c_score" name="c_score" type="text" class="form-control required" placeholder="请输入积分" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">收货人姓名</th>
                    <td class="formValue">
                        <input id="c_rec_person" name="c_rec_person" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">收货人手机</th>
                    <td class="formValue">
                        <input id="c_rec_mobile" name="c_rec_mobile" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        收货人地址
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="c_address" name="c_address" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>

                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        转账凭证
                    </th>
                    <td class="formValue" colspan="3">
                        <img id="imgid" src="" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
